body {
    background-color: rgb(102, 200, 233);
}

#container {
    margin: 100px;
    padding: 20px;
    background-color: darkorange;
    border-radius: 5px 5px 5px;
    border: 2px solid;
    border-color: darkgoldenrod;
}

#right {
    background-color: antiquewhite;
    float: right;
    width: 33%;
    border: 1px solid black;
}

#left {
    background-color: aquamarine;
    float: left;
    width: 33%;
}

#centre {
    background-color: brown;
    text-align: center;
}