body {
  margin: 10%;
  background-color: rgb(209, 233, 102);
}
div {
    font-size: larger;
}

#h1 {
  text-align: center;
}

#container {
  background-color: darkorange;
}

#top {
  background-color: antiquewhite;
}

#bottom {
  background-color: aquamarine;
}

#centre {
  background-color: crimson;
}
body {
  color: rgb(231, 121, 185);
}

#inputData {
    background-color: greenyellow;
    width: 250px;
    height: 250px
}
